<!-- Build new castle screen. -->

<!doctype html>

<html>
<head>
	<title>Build a Castle</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/app.css">
	<link rel="stylesheet" type="text/css" href="/css/build.css">
	<script src="/js/analytics.js"></script>
</head>

<body>
	<div class="container vertical-center">
		<form id="inputSearch" onsubmit="formResults()" target="formresponse">
	        <div id="nameForm">
	            <p>Name your castle, my lord.</p>
	            <input type="text" name="name" placeholder="Castle Name" autofocus>
				<div id="badName" style="display: none;">That castle name is not available.</div>
	            <a href="#" id="nameCastle" class="btn">Build</a>
				<div id="mapCastle" style="display: none;">
					<ul>
		                {{#each castles}}
							<li>{{name}}</li>
						{{/each}}
					</ul>
	            </div>
	        </div>
	        <div id="addMembers" style="display: none;">
	            <p>Summon your knights.</p>
				<input type="text" name="searchPhrase" placeholder="Username">
				<div class="row" style="margin-top: 0px;">
					<div class="col-xs-6 trim">
			            <input type="submit" id="searchMem" class="btn" value="Search">
					</div><div class="col-xs-6 trim">
			            <a href="../../castle/select" id="doneMem" class="btn">Done</a>
					</div>
				</div>
	            <div id="mapMem" style="display: none;">
					<ul>
						<li>{{currUser}}</li>
		                {{#each users}}
							<li>{{username}}</li>
						{{/each}}
					</ul>
	            </div>
				<div class="frame">
					<div class="row">
						<p>Summoned:</p>
					</div>
					<div id="selectedMem" class="row"></div>
				</div>
	        </div>
		</form>
		<a href="../../castle/select" class="backBtn btn">Cancel</a>
		<iframe name='formresponse' style="display: none;"></iframe>
	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/app.js"></script>
    <script src="/js/buildCastle.js"></script>
</body>
</html>
