<!-- Main castle screen. -->

<!doctype html>

<html>
<head>
	<title>Welcome to {{castleName}}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/app.css">

	<link href="/css/castle.css" rel="stylesheet">
</head>

<body>
	<div class="container wrap">

		<div id="mainDiv">
			<div class="row sidebarToggleButton">
				<a href="#menu-toggle" id="mainDivSidebarButtonImg">
					<img src="/images/HamburgerMenuBar-01.png"/>
				</a>
			</div>
			<div id="castleNameDiv" class="row">
				<h1>{{castleName}}</h1>
			</div>
<!--
d888888b .88b  d88. d8888b.      d88888b .88b  d88.  .d8b.  d888888b db
`~~88~~' 88'YbdP`88 88  `8D      88'     88'YbdP`88 d8' `8b   `88'   88
   88    88  88  88 88oodD'      88ooooo 88  88  88 88ooo88    88    88
   88    88  88  88 88~~~        88~~~~~ 88  88  88 88~~~88    88    88
   88    88  88  88 88           88.     88  88  88 88   88   .88.   88booo.
   YP    YP  YP  YP 88           Y88888P YP  YP  YP YP   YP Y888888P Y88888P
-->
			<div id='emailDiv'><a href="">Send Email</a></div>
			<div id="castleImg" class="row">
				<img src="/images/Castle.png"/>
			</div>
		</div>

  	<div id="sidebarDiv" class="toggled">
			<div class="row sidebarToggleButton sidebarButton">
				<a href="#menu-toggle">
					<img src="/images/HamburgerMenuBar-01.png"/>
				</a>
			</div>
			<br/>
			<div id="welcomeMsgDiv" class="row">
				Welcome back {{name}}!
			</div>
			<div id="sidebarMenu"></div>
			<!--<div class="row">
				<a href="/castle/team" class="sidebarButton">
					<img src="/images/TeamInfo-01-01.png"/>
				</a>
			</div>
			<div class="row">
				<a href="/quests.html" class="sidebarButton">
					<img src="/images/Quests-01-01.png"/>
				</a>
			</div>
			<div class="row">
				<a href="/newQuest.html" class="sidebarButton">
					<img src="/images/MakeTask-01-01.png"/>
				</a>
			</div>
			<br/>
			<div class="row">
				<a href="/" class="sidebarButton">
					<img src="/images/PersonalAccount-01-01.png"/>
				</a>
			</div>
			<div id="welcomeMsgDiv" class="row">
				Welcome back {{name}}!
			</div>
			<div id="myAccountDiv" class="row">
				<a href="/">Log Out</a> | <a href="/">Help</a>
			</div>
		</div>-->
	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/app.js"></script>
	<script src="/js/castle.js"></script>

	<!-- Menu Toggle Script -->
	<script>
	$(".sidebarToggleButton").click(function(e) {
			e.preventDefault();
			$("#sidebarDiv").toggleClass("toggled");
	});
	</script>

	<script>
	$("#emailDiv").click(function(e) {
			console.log("In sending email function");
	});
	</script>
</body>
</html>
