<!doctype html>

<html>
<head>
	<title>Join a Castle</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/app.css">
	<link rel="stylesheet" type="text/css" href="/css/join.css">
</head>

<body>
	<div class="container vertical-center">
        <div id="search">
            <form onsubmit="searchCastles()" target="formresponse">
                <p>Find your castle!</p>
                <input type="text" name="name" placeholder="Castle Name" autofocus="">
                <input type="submit" id="findCastle" class="btn" value="Search">
                <div id="resultsList" style="display: none;">
                    <ul>
						{{#each castles}}
							<li>{{name}}</li>
						{{/each}}
                    </ul>
                </div>
            </form>
			<iframe name='formresponse' style="display: none;"></iframe>
        </div>
        <div class="confirm">
			<form id="sendJoin" method="post" action="/castle/add">
	            <p></p>
	            <input type="submit" id="yesJoin" class="btn" value="Yes">
			</form>
            <a href="#" id="noJoin" class="btn">No</a>
        </div>
        <a href="../../castle/select" class="btn">Cancel</a>
	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/app.js"></script>
    <script src="/js/joinCastle.js"></script>
</body>
</html>
