body {
    background-color: var(--blue);
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;

    color: #D8CBEB;
}

#currentQuestsBtn {
  width: 100%;
  text-align: center;
  font-size: 11px;
}

#completedQuestsBtn {
  width: 100%;
  text-align: center;
  font-size: 11px;
}

input {
    width: 100%;
    padding: 10px;
}

#btnChangeInfo {
  background-color: var(--purple);
  color: white;
  font-size: 11px;
}

.btn {
  color: white;
}

.extra .btn {
    background-color: var(--purple);
}

.vertical-center {
    display: table-cell;
    vertical-align: middle;
}

.row {
    margin-bottom: 10px;
}

#questList div {
  margin: 0px;
  font-size: 12px;
}

#questList div.row {
  margin-bottom: 2%;
}
