body {
    background-color: var(--blue);
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;

    color: #D8CBEB;
}

.btn input {
  width: 100%;
  padding: 6px 12px;
  color: #2a6496;
}

.btn input:hover {
  color: #333333;
}

.accountDetailLabelDiv {
  margin-top: 3% !important;
}

.currentTaskRow.hidden {
  visibility: hidden;
}

.doneTaskRow.hidden {
  visibility: hidden;
}

#currentQuestsBtn {
  width: 100%;
  text-align: center;
  font-size: 11px;
}

#completedQuestsBtn {
  width: 100%;
  text-align: center;
  font-size: 11px;
}

input {
    width: 100%;
    padding: 10px;
}

#btnChangeInfo {
  background-color: var(--purple);
  color: white;
  font-size: 11px;
}

.btn {
  color: white;
}

.btn.selected {
  color: black;
}

.extra .btn {
    background-color: var(--purple);
}

.vertical-center {
    display: table-cell;
    vertical-align: middle;
}

.row {
    margin-bottom: 10px !important;
}

.list div{
    margin: 0px;
    padding-top: 3%;
    font-size: 12px;
}

.list div.row {
  margin-bottom: 3% !important;
}

/*
#questList div {
  margin: 0px;
  padding-top: 2%;
  font-size: 12px;
}

#questList div.row {
  margin-bottom: 2%;
}
*/
