body {
    background-color: var(--blue);
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;

    color: #D8CBEB;
}

.btn input {
  width: 100%;
  padding: 6px 12px;
  color: #2a6496;
}

.btn input:hover {
  color: #333333;
}

.accountDetailLabelDiv {
  margin-top: 3% !important;
}

.currentTaskRow.hidden {
  visibility: hidden;
}

.doneTaskRow.hidden {
  visibility: hidden;
}

#currentQuestsBtn {
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-size: 3.5vw;
}

#completedQuestsBtn {
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-size: 3.5vw;
}

input {
    width: 100%;
    padding: 10px;
}

#btnChangeInfo {
  background-color: var(--purple);
  color: white;
  font-size: 14px;
  font-size: 3.5vw;
}

.btn {
  color: white;
}

.btn.selected {
  color: black;
}

.extra .btn {
    background-color: var(--purple);
}

.vertical-center {
    display: table-cell;
    vertical-align: middle;
}

.row {
    margin-bottom: 10px !important;
}

.list div{
    margin: 0px;
    padding-top: 3%;
    font-size: 12px;
}

.list div.row {
  margin-bottom: 3% !important;
}

.extra {
    text-align: center;
    margin-top: -10px !important;
    border-bottom: 2px solid var(--pink);
}

.extra div {
    padding: 0;
}

.extra div:first-child {
    padding-right: 3px;
}

.extra div:last-child {
    padding-left: 3px;
}

.extra div .btn {
    width: 100%;
    color: black;
    background-color: rgba(244,141,153,0.3);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.extra div .btn.selected {
    color: white;
    background-color: var(--pink);
}

/*
#questList div {
  margin: 0px;
  padding-top: 2%;
  font-size: 12px;
}

#questList div.row {
  margin-bottom: 2%;
}
*/

.taskList {
    width: 90%;
    margin-left: 5% !important;
    overflow-y: scroll !important;
}

#questList {
    max-height: 90%;
    overflow-y: scroll !important;
}
