@import url('/css/sidebar.css');

:root {
  --blue: #3f4677;
  --purple: #a467a3;
  --pink: rgb(244,141,153);
  --oppink: rgba(244,141,153,0.5);
  --green: #69b594;
  --yellow: #f2dc93;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    background-color: var(--yellow);
    color: black;
    font-family: Helvetica, monospace;
}

a {
    color: var(--blue);
}

.shrink {
    height: 0px;
    overflow: hidden;
}

.confirm {
    display: none;
}

.btn {
    background-color: var(--pink);
}

.vertical-center {
    display: table-cell;
    vertical-align: middle;
}

.subtitle {
    font-size: 70%;
}

.icon {
    display: inline-block;
    width: 3em;
    height: 3em;
    margin: 5px;
    border: 1px solid black;
    border-radius: 7px;
    background-position: center center;
    background-size: cover;
}

.listOptions ul {
    list-style-type: none;
    padding: 0;
    width: 80%;
    margin: 0 auto;
}

.listOptions li {
    padding: 5px;
    margin-top: 5px;
    border: 1px solid var(--purple);
    border-radius: 5px;
}
