@import url('/css/sidebar.css');

:root {
  --blue: #3f4677;
  --purple: #a467a3;
  --pink: #f48d99;
  --green: #69b594;
  --yellow: #f2dc93;
}

body {
    background-color: var(--yellow);
    color: black;
    font-family: Helvetica, monospace;
}

a {
    color: var(--blue);
}

.shrink {
    height: 0px;
    overflow: hidden;
}

.confirm {
    display: none;
}

.btn {
    background-color: var(--pink);
}
