body {
    background-color: var(--blue);
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;

    color: white;
}

a {
    color: var(--blue);
}

ul a {
    color: white;
}

input {
    width: 80%;
    padding: 10px;
}

p {
    margin: 0;
}

.container {
    text-align: center;
}

.btn {
    width: 80%;
    margin-top: 10px;
}

.trim {
    padding: 0;
}

.vertical-center {
    display: table-cell;
    vertical-align: middle;
}

.row {
    margin: auto;
    margin-top: 10px;
    width: 80%;
}

.row .btn {
    width: 90%;
}

.taken {
    color: var(--purple);
}

#selectedMem {
    display: inline-block;
}

#selectedMem div {
    float: left;
    margin: 5px;
    padding: 1px 8px;
    border-radius: 5px;
    background-color: var(--pink);
    color: var(--blue);
}
