.container {
    height: 100%;
    padding: 0;
}

.row {
    margin-bottom: 10px;
}

#carousel {
    height: 100%;
}

.carousel-inner {
    height: 100% !important;
}

.item {
    height: 100%;
    text-align: center;
}

.item>div {
    padding-top: 50%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#castle1 {
    background-image: url("../images/Castle.png");
}

.carousel-control {
    background-image: none !important;
}

#noCastle {
    background-image: url("../images/BuildACastle.png");
}

.btn {
    width: 50%;
    background-color: var(--yellow);
    font-size: 2em;
    font-weight: bold;
}
