
html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  background-color: var(--blue);
}

.container {
    height: 100%;
    padding: 0;
}

#welcomeMsgDiv {
  font-size: 13px;
}

#myAccountDiv {
  position: absolute;
  bottom: 10%;
  font-size: 12px;
  width: 90%;
  text-align: center;
}

#castleNameDiv {
  position: absolute;
  top: 10%;
  width: inherit;
  margin: 0px !important;
  text-align: center;
}

/* Fight Pane CSS */
.fightPane {
    height: 100%;
    width: 100%;
}

.fightPane .row h1 {
    padding-left: 10%;
}

.fightPane>div {
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#castlePane {
    height: 48%;
    background-image: url("../images/Castle.png");
}

#infoPane {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    height: 4%;
}

#infoPane>div {
    background-color: red;
    height: 100%;
    width: 50%;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

#castleHP {
    position: absolute;
    top: 48%;
    float: left;
}

#monsterHP {
    width: 100%;
    position: absolute;
    top: 48%;
    text-align: right;
    float: right;
}

#castleHealth {
    float: left;
}

#monsterHealth {
    text-align: right;
    float: right;
}

#monsterPane {
    height: 48%;
    background-image: url("../images/monsters/kraken/Kraken.png");
}

#peacePane {
    z-index: 20;
    background-color: var(--yellow);
    position: absolute;
    width: 100%;
    text-align: center;
    border-top: 10px solid var(--green);
    border-bottom: 10px solid var(--green);
    top: 42%;
}

#peacePane h3 {
    margin: 15px 0px;
}
