
html, body {
  margin: 0;
  height: 100%;
  overflow: hidden
}

#welcomeMsgDiv {
  font-size: 13px;
}

#myAccountDiv {
  position: absolute;
  bottom: 10%;
  font-size: 12px;
  width: 90%;
  text-align: center;
}

#castleImg {
  position: absolute;
  bottom: 10%;
  left: 7%;
  display: block;
  margin: 0 auto !important;
}

#castleImg img {
  width: 90%;
  height: auto;
}

.sidebarButton {

}

.sidebarButton img {
  width: 30%;
  height: auto;
  margin-left: 35%;
}


#castleNameDiv {
  position: absolute;
  top:10%;
  width:inherit;
  margin: 0px !important;
  text-align: center;
}

#castleSidebarButtonImg {
  position: absolute;
  left: 82%;
  width: 10%;
  height: auto;
}
#castleSidebarButtonImg img{
  width: 100%;
  height: auto;
}

#sidebarDiv div {
  margin: 5%;
}

#castleDiv div {
  margin: 3%;
}
#castleDiv {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: #B7A6AD;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#sidebarDiv {
  position: absolute;
  width: 40%;
  height: 100%;
  z-index: 110;
  left: 60%;
  background: #846E74;
  top: 0px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#sidebarDiv.toggled {

  left: 100%;
}
