.container {
    height: 100%;
    width: 100%;
    padding: 0;
}

.row {
    margin-bottom: 10px;
}

.footer {
    height: 10%;
    width: 100%;
    background-color: var(--blue);
    text-align: center;
    padding-top: 4%;
}

.footer a {
    color: white;
    font-size: 150%;
    font-weight: bold;
}

#carousel {
    height: 90%;
}

.carousel-inner {
    height: 100% !important;
}

.item {
    height: 100%;
    text-align: center;
}

.item>div {
    padding-top: 50%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    font-size: 200%;
    font-weight: bold;
}

.castleSlide {
    padding-top: 58% !important;
    background-image: url("../images/Castle.png");
}

.carousel-control {
    background-image: none !important;
}

#noCastle {
    background-image: url("../images/BuildACastle.png");
}

.btn {
    min-width: 50%;
    max-width: 80%;
    background-color: var(--yellow);
    font-size: 100%;
    font-weight: bold;
    overflow: scroll;
}

.carousel-control {
    padding-top: 75%;
}
