body {
    background-color: var(--blue);
    display: table;
    position: absolute;
    max-height: 100vh;
    width: 100vw;
    overflow: scroll;

    color: white;
}

a {
    color: var(--yellow)
}

input {
    width: 80vw;
}

.container {
    text-align: center;
    height: 80vh !important;
    overflow: scroll;
    padding: 0;
}

.btn {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    display: block;
    width: 80vw;
    margin: 0 auto;
    color: var(--blue);
}

.confirm .btn {
    background-color: var(--yellow);
}

#search {
    padding-top: 5vh;
    width: 100vw;
    height: 80vh;
}

.confirm {
    display: none;
    padding-top: 30vh;
    width: 100vw;
    height: 80vh;
}

#cancel {
    position: absolute;
    bottom: 5vh;
    left: 10vw;
}
