body {
    background-color: var(--blue);
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;

    color: white;
}

a {
    color: var(--yellow)
}

input {
    width: 80%;
}

.container {
    text-align: center;
}

.btn {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    display: block;
    width: 80%;
    margin: 0 auto;
    color: var(--blue);
}
