body {
    background-color: var(--blue);
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;

    color: white;
}

input {
    width: 100%;
    padding: 10px;
}

.btn {
    width: 100%;
}

.btn input {
  width: 100%;
  padding: 6px 12px;
  color: #2a6496;
}

.btn input:hover {
  color: #333333;
}

.extra .btn {
    background-color: var(--purple);
}

.vertical-center {
    display: table-cell;
    vertical-align: middle;
}

.row {
    margin-bottom: 10px;
}
