html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.sidebarButton img {
  width: 30%;
  height: auto;
  margin-left: 35%;
}

#mainDivSidebarButtonImg {
  position: absolute;
  left: 82%;
  width: 10%;
  height: auto;
}
#mainDivSidebarButtonImg img {
  width: 100%;
  height: auto;
}

#sidebarDiv div {
  margin: 5%;
}

#mainDiv div {
  margin: 3%;
}

#mainDiv div div{
  margin: 0%;
}
#mainDiv {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 100;

  -webkit-transition: all .5s ease;
     -moz-transition: all .5s ease;
       -o-transition: all .5s ease;
          transition: all .5s ease;
}

#sidebarDiv {
  position: absolute;
  width: 40%;
  height: 100%;
  z-index: 110;
  background: var(--pink);
  top: 0px;
  -webkit-transition: all .5s ease;
     -moz-transition: all .5s ease;
       -o-transition: all .5s ease;
          transition: all .5s ease;
}
#sidebarDiv.toggled {
  left: 100%;
}
