@import url('/css/sidebar.css');

html, body {
  margin: 0;
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: var(--blue);

  color: #D8CBEB;
}

.btn {
  color: white;
}

.btn.selected {
  color: black;
}

.userTaskRowDiv {
  display: none;
}


#castleNameDiv {
  width: 100%;
  text-align: center;
  margin-left: 0 !important;
}

#rankingAchievmentButtonRow {
  text-align: center;
  margin: 0px 10px 0px 10px !important;
  border-bottom: 2px solid var(--pink);
}

#rankingsButton.selected {
  text-decoration: underline;
}

#achievementsButton.selected {
  text-decoration: underline;
}

#rankingsButton.unselected {
  text-decoration: none;
}

#achievementsButton.unselected {
  text-decoration: none;
}

#rankingAchievmentButtonRow .btn {
    width: 100%;
    color: black;
    background-color: rgba(244,141,153,0.3);
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

#rankingAchievmentButtonRow .btn.selected {
    color: white;
    background-color: var(--pink);
}

#rankingAchievmentButtonRow div {
    padding: 0px 2px;
}

#rankingAchievmentButtonRow div:first-child {
    padding-left: 0px;
}

#rankingAchievmentButtonRow div:last-child {
    padding-right: 0px;
}

/*
.userRowDiv {
  margin: 1% !important;
}

.userRowDiv img {
  padding: 0%;
}

#userDiv {
  position: absolute;
  top: 25%;
  height: 60%;
  width: 100%;
  padding: 2%;
  padding-top: 6%;
}


.achievementRowDiv {
  margin-bottom: 1% !important;
}

.achievementRowDiv img  {
  padding: 0%;
}

#achievementDiv {
  position: absolute;
  top: 25%;
  height: 60%;
  width: 100%;
  padding: 2%;
  padding-top: 6%;
}

.rankingRowDiv {
  margin-bottom: 1% !important;
}

.rankingRowDiv img  {
  padding: 0%;
}


#rankingDiv {
  position: absolute;
  top: 25%;
  height: 60%;
  width: 100%;
  padding: 2%;
  padding-top: 6%;
}

*/

#mainDiv {
    max-height: 97%;
    margin: 3% 0px;
}

#userDiv.hidden {
  visibility: hidden;
}

#achievementDiv.hidden {
  visibility: hidden;
}

#rankingDiv.hidden {
  visibility: hidden;
  display: none;
}

#welcomeMsgDiv {
  font-size: 13px;
}

#myAccountDiv {
  position: absolute;
  bottom: 10%;
  font-size: 12px;
  width: 90%;
  text-align: center;
}

#contentDiv {
    width: 80%;
    margin: 0 auto !important;
    max-height: 70%;
    overflow-y: scroll !important;
}

#contentDiv .row {
    margin-top: 10px;
}

.currUserDiv {
  color: var(--yellow);
  border: 1px solid var(--yellow) !important;
}

#rankingDiv>:first-child {
    border: 1px dashed var(--yellow) !important;
    background-color: var(--purple);
}
