@import url('/css/sidebar.css');

html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  background-color: var(--blue);

  color: #D8CBEB;
}

.btn {
  color: white;
}

#rankingAchievmentButtonRow {
  position: absolute;
  top: 20%;
  width: 100%;
  text-align: center;
}

#rankingsButton.selected {
  text-decoration: underline;
}

#achievementsButton.selected {
  text-decoration: underline;
}

#rankingsButton.unselected {
  text-decoration: none;
}

#achievementsButton.unselected {
  text-decoration: none;
}

.achievementRowDiv {
  height: 10%;
  margin-bottom: 2% !important;
}

.achievementRowDiv img  {
  height: 100%;
  width: auto;
  margin: 3%;
}

#achievementDiv {
  position: absolute;
  top: 25%;
  height: 60%;
  width: 100%;
}

#achievementDiv.hidden {
  visibility: hidden;
}

.rankingRowDiv {
  height: 10%;
  margin-bottom: 2% !important;
}

.rankingRowDiv img  {
  height: 100%;
  width: auto;
  margin: 3%;
}

#rankingDiv {
  position: absolute;
  top: 25%;
  height: 60%;
  width: 100%;
}

#rankingDiv.hidden {
  visibility: hidden;
}

#welcomeMsgDiv {
  font-size: 13px;
}

#myAccountDiv {
  position: absolute;
  bottom: 10%;
  font-size: 12px;
  width: 90%;
  text-align: center;
}

/*
#castleSidebarButtonImg {
  position: absolute;
  left: 82%;
  width: 10%;
  height: auto;
}
#castleSidebarButtonImg img{
  width: 100%;
  height: auto;
}

#sidebarDiv div {
  margin: 5%;
}

#castleDiv div {
  margin: 3%;
}
#castleDiv {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 100;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#sidebarDiv {
  position: absolute;
  width: 40%;
  height: 100%;
  z-index: 110;
  left: 60%;
  background: var(--pink);
  top: 0px;
  -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
}
#sidebarDiv.toggled {
  left: 100%;
}*/
=======
>>>>>>> account page layout done
