body {
    background-color: var(--blue);
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;

    color: #D8CBEB;
}

#greedingDiv {
  padding-top: 8%;
  font-size: 20px;
}

.inProgressTaskList.hidden {
  visibility: hidden;
}

.doneTaskRow.hidden {
  visibility: hidden;
}

.todoTaskRow.hidden {
  visibility: hidden;
}


.btn {
  color: white;
}

.btn.selected {
  color: black;
}

.row {
    margin-bottom: 10px !important;
}

.list div{
    margin: 0px;
    padding-top: 3%;
    font-size: 12px;
}

.list div.row {
  margin-bottom: 3% !important;
}

.descRow {
    background-color: var(--purple);
    color: white;
    padding: 1%;
    margin: 0px 0px 3% 0px !important;
}

.info {
    padding: 0;
}

.taskList {
    width: 90%;
    margin-left: 5% !important;
    max-height: 33em;
    overflow: auto;
}

.extra {
    text-align: center;
}

#levelField {
    margin-top: 2% !important;
}
